@use "./partials/variables" as *;
@use "./partials/mixins" as *;
// FREEMAN FONT
@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");
// ROBOTO FONT
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// // RESETS
// # Bootstrap scss
@import "bootstrap/scss/bootstrap";

body {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

#mainContent {
  box-shadow: 0 0 5px black;
  background: #3535ec;
  min-height: calc(100vh - 160px);
  height: 100%;
  padding: 30px 0;
}
